# composer & node
node_modules
vendor
.npm
.yarn

# docker & git
docker-compose.yml
Dockerfile
.git
.gitignore
.gitattributes
README.md

# env and logs
.env
.env.*
!.env.prod
.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.log

# tests & tools
tests
coverage
.nyc_output
.phpunit.result.cache

# build
public/build
public/hot

#vscode
.DS_Store
Thumbs.db
.idea
.vscode
*.suo
*.ntvs*
*.njsproj